a {
    text-decoration: none;
}

h1.resume{
    margin-left: 3%;
    text-decoration: underline;
}

h2{
    margin-left: 3%;
    text-decoration: underline;
}

ul{
	list-style: none;
}

li {
    color: green;
}

