section{
    text-align: center;
}

label.name{
    margin-left: -1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

label.email{
    margin-left: -3.1%;
    padding-right: 1%;
    padding-bottom: 1%
}

label.message{
    margin-left: -2%;
    padding-right: 1%;
}